{
  "analyzeCommits": "simple-commit-message",
  "plugins": [
    "simple-commit-message",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/npm",
    "@semantic-release/git",
    "@semantic-release/github"
  ]
}